.content {
  display: flex;
  flex-direction: column;
  background-color: #fffbe9;
  padding: 24px;
  text-align: center;
  box-sizing: border-box;
  width: 30vw;
  min-width: 300px;
  align-items: center;
}

.response {
  display: flex;
  flex-direction: column;
  font-size: px;
  text-align: left;
  align-self: flex-start;
}

.response-text {
  font-size: 24px;
  overflow-wrap: break-word;
  font-family: 'Xingkai', cursive;
}

.welcome {
  font-size: 18px;
  align-self: flex-end;
}

.xingkai {
  font-size: 24px;
  font-family: 'Xingkai', cursive;
}
