.content {
  display: flex;
  flex-direction: column;
  background-color: #fffbe9;
  padding: 12px;
  text-align: center;
  box-sizing: border-box;
  width:18vw;
  align-items: center;
}

.response {
  display: flex; 
  flex-direction: column; 
  font-size: 18px;
  text-align: left;
  align-self: flex-start;
}

.response-text {
  
  font-size: 16px;
  overflow-wrap: break-word;
 
}

.welcome {
  font-size: 16px;
  align-self: flex-end;
  margin-bottom: 10px; 
}
